
<app-home></app-home>
<div class="row m-2">
    <div class="col-2">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-9">
        <div class="row m-2">
            <div class="col-12 m-2">
                        Dashboard
                        <small>WELCOME !</small>
                
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body ">
                        <h5 class="card-title">Total Patients : {{patientList.length}}</h5>
                    </div>
                  </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Today Appointments : {{TodayAppoinmentList.length}}</h5>
                    </div>
                  </div>
            </div>
        </div>
        
    </div>
</div>